<center><h1> <%= @employee.full_name %> </h1>
<main>

<p>Name: <%= @employee.full_name %></p>
<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office %></p>
<p>Dog: <%= @employee.dog.name %></p>
<p>Title: <%= @employee.title %></p>
<img src="<%= @employee.img_url %>"
     alt="Employee from The Office">

</main>
</center>